<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <strong>Region:</strong>
    <select class="form-control" name="show-filter" ng-model="regionFilter"
      ng-options="region as region.name for region in $ctrl.regions">
      <option value>All</option>
    </select>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <strong>Company:</strong>
    <select class="form-control" name="show-filter" ng-model="companyFilter"
      ng-options="company as company.name for company in $ctrl.companies">
      <option value>All</option>
    </select>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <strong>Name:</strong>
    <input ng-model="$ctrl.searchName" class="form-control" />
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <strong>Title:</strong>
    <input ng-model="$ctrl.searchTitle" class="form-control" />
  </div>

</div>
<br>
<div class="row">
  <div class="col-lg-12">
    <button class="btn btn-default" ng-click="$ctrl.clearFilters()">
    Clear Filters</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-12">
    <p>
      To update your photo, <a href="#">click here to upload</a> and your request will be processed
      within 2 business days. <strong>All People Finder photos and information are property
      of Hitachi Consulting and for internal use only.</strong>
    </p>
    <p>
      Most data is pulled from JINZAI, our HR System. To update your information,
      <a href="#">click here</a> to go to the self-service portal.
    </p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-12">
    <table class="table table-bordered table-striped">
      <tr>
        <th>Person Name</th>
        <th>Title</th>
      </tr>
      <tr ng-repeat="person in $ctrl.people |
                    filter: $ctrl.searchTitle |
                    filter: $ctrl.searchName |
                    filter: {region: regionFilter.name || undefined} |
                    filter: {company: companyFilter.name || undefined}">
        <td>{{person.name}}</td>
        <td>{{person.title}}</td>
      </tr>
    </table>
    <pagination total-items="$ctrl.totalItems" ng-model="$ctrl.currentPage"
             max-size="3" boundary-links="true"
             items-per-page="3" class="pagination-sm">
       </pagination>
  </div>
</div>
